
/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #3096e9;
  --color-secondary: #ffc01d;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
#mypreloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Background color for the preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  background-color: var(--color-primary);
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
  max-height: 40px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
  font-family: var(--font-primary);
}
.sticked-header-offset {
  margin-top: 70px;
}

section {
  scroll-margin-top: 70px;
}
header{
  border-bottom: 2px solid #ffc01d;
}
/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: white;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #287ec4;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-secondary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: #287ec4;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: rgba(0, 131, 116, 0.8);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: white;
    border: 1px solid rgba(214, 209, 209, 0.7);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .navbar .dropdown ul li a, .navbar .dropdown .dropdown ul li a{
    color: #287ec4;
    background-color: white;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9996;
  }
}

a, a:hover, a:focus {
  text-decoration: none;
  transition: all 0.3s;
}
/* Scrollbar Styling */
#sidebar::-webkit-scrollbar {
  width: 8px; /* Thin width for scrollbar */
}

#sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 10px; /* Rounded track edges */
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #34495e; /* Scrollbar color */
  border-radius: 10px; /* Rounded scrollbar edges */
  border: 2px solid #f1f1f1; /* Optional: adds a gap around the thumb */
}

#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  height: 80vh;
  z-index: 980;
  background-color: #566573;
  top: 16px;
  transition: all 0.3s;
  box-shadow: 1px 1px 4px rgba(184, 184, 185, 0.622);
  padding-top: 20px;
  padding-bottom: 50px;
}
#sidebar ul.components li {
  border-left: 5px solid #ffc01d;
  margin-bottom: 10px;
  margin-left: 2px;
}
#content, #sidebar{
  margin-top: 150px;
}
#content .btn-primary{
  color: #3096e9;
  background: white;
  border: 1px solid #3096e9;
  outline: none;
}
#content .btn-primary:hover{
  color: white;
  background: #3096e9;
  border: 1px solid #3096e9;
  outline: none;
}

#sidebar.active {
  margin-left: -250px;
}


#sidebar ul p {
  color: #3096e9;
  padding: 10px;
  font-size: 20px;
}
#sidebar ul p i{
color: #ffc01d;
font-size: 18px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 17px;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: #3096e9;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: white;
  background: #3096e9;
}
a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}
ul.top-offset {
  padding: 15px 10px 5px 10px;
  margin: 5px 40px 10px 40px;
}

ul.top-offset a {
  text-align: center;
  font-size: 1.2em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.article, a.article:hover {
  color: #3096e9;
  border: 1px solid #3096e9;
  outline: none;
  font-size: 18px;
  padding: 4px 6px;
  border-radius: 3px;
}
#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  right: 0;
}
#sidebarstaffCollapse span {
font-size: 18px;
}
#content.active {
  width: 100%;
}
.active-selected{
  background-color: #3096e9; 
  color: white;
}
.profile-detail{
  position:relative; 
  display:block; 
  width: 100%;
}
.nav-link{
  font-size: 1.2em;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
  
}
#message .container {
  background: white;
}
#message .col-md-6 {
  padding: 0;
  margin: 0;
}
#message .message-des {

  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}
#message .btn {
  margin-top: 30px;
}
.img-responsive{
  width: 100%;
  border-radius: 5px;
}
/* Subheader Below Main Header (Full Width) */
.subheader {
  background-color: #34495e;
  color: white;
  border-bottom: solid 2px white;
  height: 80px;
  width: 100vw; /* Full width */
  position: fixed;
  top: 20px; /* Places it directly below the main header */
  z-index: 990;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}
.subheader h2{
  width: 90%;
}
.accordion-item{
  border-width: 0 0 1px 0;  /* replace 1px with the actual border width */
  color: #ffffff;
  background: none;
}
.side-items, .accordion-button{
  text-align: left;
  background: none;
  padding: 1rem 0px 1rem 1.25rem;
  border-width: 0 0 1px 0;  /* replace 1px with the actual border width */
  border-color: rgba(0, 0, 0, 0.125); /* black with 12.5% opacity */
  color: #ffffff;
  font-size: 18px;
}
#team-button i{
  font-size: 18px;
}
.accordion {
  padding-right: 1rem; /* Adjust the value as needed */
}
.accordion-body .side-items{
  color: #ffffff;
  padding: 0.8rem 0px 0.8rem 1.25rem;
}
/* Target the "Team" accordion button and ensure it doesn't change when active */
.accordion-button:not(.collapsed):not(#team-button) {
  color: #ffc01d; /* Set text color to #ffc01d when clicked */
}

/* Prevent the "Team" button from changing color when active */
.accordion-button#team-button {
  color: inherit; /* Inherit default color */
  background-color: inherit; /* No background color change */
}

/* Target the sidebar buttons inside the "Team" section when active */
.side-items.active, .side-items[aria-selected="true"] {
  color: #fcc845;
 /* Set text color to #ffc01d when clicked/active */
}

/* Target the "Team" section's header to ensure it doesn't affect the active color */
.accordion-button#team-button:hover {
  color: inherit; /* Inherit default color on hover */
}
/* Hide only the arrow next to the "Team" button */
.accordion-button::after {
  display: none !important; /* Hides the arrow */
}
.lab-instruments-full:hover {
  border-bottom: 3px solid #3096e9;
  transform: translateY(-5px);
  transition: 0.2s;
}

.lab-instruments-full .lab-instruments-info {
  padding: 20px;
  padding-bottom: 0;
}

.lab-instruments-full .lab-instruments-image {
  width: 100%;
  height: 210px;
}

.lab-instruments-full .social-share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}
.lab-instruments .lab-instruments-info + div .badge:hover {
  background-color: var(--secondary-color);
}
.lab-instruments {
  border-bottom: 3px solid white;
  position: relative;
  overflow: hidden;
  padding: 15px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.lab-instruments:hover {
  border-bottom: 3px solid #3096e9;
  transform: translateY(-5px);
  transition: 0.2s;
}

.lab-instruments-info {
  display: block;
  padding: 10px 20px;
  padding-bottom: 0;
}

.lab-instruments-image-wrap {
  position: relative;
  display: block;
  height: 100%;
}

.lab-instruments-image-wrap > a {
  display: block;
}

.lab-instruments-image {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 112px;
  height: 112px;
  object-fit: cover;
}

.lab-instruments-image-detail-page .lab-instruments-image {
  width: 100%;
  height: 212px;
}

.lab-instruments .lab-instruments-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lab-instruments-icon-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.lab-instruments-icon-wrap .section-overlay {
  opacity: 0.25;
}

.lab-instruments-btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
}

.lab-instruments-btn-group .lab-instruments-icon {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.lab-instruments-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--p-font-size);
  color: var(--white-color);
  text-align: center;
  width: 32.5px;
  height: 32.5px;
  line-height: 32.5px;
  transition: all 0.3s;
}

.lab-instruments-icon:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.lab-instruments .custom-btn {
  font-size: var(--menu-font-size);
  padding: 7px 15px;
}

.lab-instruments .lab-instruments-info + div .badge {
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px !important;
  font-size: var(--menu-font-size);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lab-instruments .lab-instruments-info + div .badge:hover {
  background-color: var(--secondary-color);
}

.lab-instruments-full {
  background-color: var(--section-bg-color);
  border-color: transparent;
}
.lab-instruments-full .lab-instruments-info {
  padding: 20px;
  padding-bottom: 0;
}

.lab-instruments-full .lab-instruments-image {
  width: 100%;
  height: 210px;
}

.lab-instruments-full .social-share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}

.lab-instruments-top small {
  color: var(--p-color);
  font-family: var(--title-font-family);
}

.lab-instruments-top .badge {
  background-color: var(--secondary-color);
  color: var(--white-color);
  display: inline-block;
  vertical-align: middle;
  height: 26.64px;
  line-height: 20px;
}

.lab-instruments-bottom a:hover span {
  color: var(--primary-color);
}

.lab-instruments-bottom a span {
  font-family: var(--title-font-family);
  color: var(--p-color);
  margin-left: 3px;
}

.lab-instruments-overlay {
  border-color: transparent;
  padding: 0;
}

.lab-instruments-overlay .lab-instruments-image {
  margin: auto;
  width: 100%;
  height: 210px;
  transition: all 0.3s;
}

.lab-instruments-overlay:hover .lab-instruments-image {
  padding: 15px;
  padding-bottom: 0;
}

.lab-instruments-overlay-info {
  padding: 15px 20px 20px 20px;
}

.projects .projects-list {
  padding: 0;
  list-style: none;
}

.projects .projects-list li {
  padding-bottom: 20px auto;
}

.projects .projects-list .question {
  display: block;
  border-radius: 5px;
  position: relative;
  font-size: 18px;
  line-height: 1.5; /* Ensure adequate spacing */
  font-weight: 600;
  padding: 5px 5px 25px 0;
  cursor: pointer;
  color: #167fc5;
  transition: 0.3s;
  height: auto; /* Use auto instead of fit-content for broader browser support */
  overflow: hidden; /* Prevent visual overflow */
  word-wrap: break-word; /* Handle long text gracefully */
}

.num-thesis {
  margin: 0; /* Reset any unwanted margins */
  color: rgb(184, 182, 182);
  padding-top: 10px;
  font-size: 16px; /* Adjust font size if needed */
  line-height: 1.4; /* Maintain readability */
}
.projects .projects-list .sub-projects {
  display: block;
  box-shadow: 0px 0 30px rgba(25, 25, 25, 0.08);
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  font-weight: 600;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  color: var(--color-secondary);
  transition: 0.3s;
}
.projects .projects-list .sub-projects:hover {
  color: var(--color-primary);
}
.projects .projects-list  ul li{
  margin-bottom: 10px;
}

.projects .projects-list i {
  font-size: 16px;
  margin: 0 10px 0 0;
}

.projects .projects-list p {
  margin-bottom: 0;
}

.projects .projects-list .icon-show {
  display: none;
}

.projects .projects-list .collapsed {
  color: #167fc5;
}

.projects .projects-list .collapsed:hover {
  color: #ffc01d;
}

.projects .projects-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.projects .projects-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}
.title-details .top-content {
  background: #a4fa8e7c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 30px 45px;
  margin-top: -45px;
}

.title-details .dead {
  background: #faa48e7c;
}
.title-details .top-content ul {
  text-align: right;
}

.title-details .top-content ul li {
  display: inline-block;
}

.title-details .top-content ul li {
  font-size: 20px;
  font-weight: 500;
  color: #3096e9;
  margin-left: 15px;
}

.title-details .top-content ul li:first-child {
  margin-left: 0px;
}

.title-details .top-content ul li span {
  font-size: 20px;
  color: #afafaf;
}

.title-details .top-content span.open {
  font-size: 20pxpx;
  background-color: #3096e9;
  color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  margin-right: 20px;
}

.title-details .top-content span.wish-list {
  font-size: 15px;
  font-weight: 500;
  color: #00bdfe;
}

.title-details .top-content span.wish-list i {
  margin-right: 5px;
}

.title-details .main-content {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px 20px 10px 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
}

.title-details .main-content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
} 

.title-details .main-content h6 {
  font-size: 15px;
  font-weight: 600;
}

.title-details .main-content h6.second-title {
  margin-top: 30px;
}

.title-details .main-content h5.second-title {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #d4d4d4;
}

.title-details .main-content .item span {
  background-color: #f0f0f0;
  border-radius: 10px;
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin-right: 15px;
  float: left;
}

.title-details .main-content .item h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title-details .main-content .item h6 {
  font-size: 15px;
  font-weight: 400;
  color: #afafaf;
}

.title-details .main-content .main-button {
  margin-top: 30px;
}

.title-details .main-content .main-button a {
  width: 100%;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
.social-links {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 15px; /* Optional: Adds spacing between icons */
}
.social-links a {
  font-size: 18px;
  line-height: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: rgba(27, 47, 69, 0.5);
  margin-right: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3096e9;
  color: #ffffff;
  border-radius: 50px;
}

.student-box {
	background-color: #f6f8f9;
	box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
	border-radius: 20px;
	padding: 20px 30px;
	margin-top: 30px;
}

.student-box h6 {
	font-size: 22px;
	letter-spacing: .05em;
	margin-top: 5px;
	margin-bottom: 0px;
}

.student-box p {
	font-size: 16px;
	margin-top: 25px;
	line-height: 1.8;
	padding: 0px;
}

.student-box i {
	color: #ffffff;
}

.student-box small {
	color: #8da2b5;
	display: inline-block;
}

.student-box span {
	font-size: 14px;
	color: #ffffff;
}

.years {
	background-color: #0095f7;
	padding: 2px 12px;
	border-radius: 50px;
}


.profile-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.student-profile-one {
  background-image: url('../assets/images/phd-photo-placeholder.jpg');
}
.student-profile-two {
  background-image: url('../assets/images/yekitwork-abebe.jpg');
}
.student-profile-three {
  background-image: url('../assets/images/biniam-ademe.jpg');
}
.student-profile-four {
  background-image: url('../assets/images/phd-female-photo-placeholder.jpg');
}
.student-profile-five {
  background-image: url('../assets/images/mekdes-mengesha.jpg');
}
.student-profile-six {
  background-image: url('../assets/images/worku-dagne.jpg');
}
.student-profile-seven {
  background-image: url('../assets/images/segenet-dagmawi.jpg');
}
.ms-student-profile-one{
  background-image: url('../assets/images/phd-female-photo-placeholder.jpg');
}
.ms-student-profile-two{
  background-image: url('../assets/images/phd-female-photo-placeholder.jpg');
}
.personal-info {
	padding: 5px 0 20px 0;
	border-bottom: 1px solid #edf1f2;
}
